@tailwind base;
@tailwind components;
@tailwind utilities;

#bg-login {
    /* From https://css.glass */
background: rgba(8, 4, 20, 0.43);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3.4px);
-webkit-backdrop-filter: blur(3.4px);
}